<a href="/solid/1/255/0/0">Red Pulse</a><br/>
<a href="/solid/1/0/255/0">Green Pulse</a><br/>
<a href="/solid/1/0/0/255">Blue Pulse</a><br/>
<a href="/solid/1/255/255/255">White Pulse</a><br/>
<a href="/solid/0/255/0/0">Red</a><br/>
<a href="/solid/0/0/255/0">Green</a><br/>
<a href="/solid/0/0/0/255">Blue</a><br/>
<a href="/solid/0/255/255/255">White</a><br/>
<a href="/solid/0/0/0/0">Off</a><br/>
<a href="/theatre">Theatre</a><br/>
<a href="/rainbow">Rainbow</a><br/>
<a href="/shutdown">SHUTDOWN</a><br/>
