<a href="/solid/0/255/0/0">Red</a> - <a href="/solid/1/255/0/0">Pulse</a><br/>
<a href="/solid/0/0/255/0">Green</a> - <a href="/solid/1/0/255/0">Pulse</a><br/>
<a href="/solid/0/0/0/255">Blue</a> - <a href="/solid/1/0/0/255">Pulse</a><br/>
<a href="/solid/0/255/255/255">White</a> - <a href="/solid/1/255/255/255">Pulse</a><br/>
<a href="/sequence">Sequence</a><br/>
<a href="/solid/0/0/0/0">Off</a><br/>
<a href="/theatre">Theatre</a><br/>
<a href="/rainbow">Rainbow</a><br/>
<a href="/shutdown">SHUTDOWN</a><br/>
